/* Styles go here */

.ct-series-b .ct-line {
  stroke: #2a2f51;
  stroke-width: 3px;
}

.ct-series-c .ct-line {
  stroke: #b8181b;
  stroke-width: 3px;
}

.ct-series-d .ct-line {
  stroke: #3b6c23;
  stroke-width: 3px;
}

.ct-series-a .ct-line {
  stroke: rgba(51, 51, 51, 0.3);
}

.ct-series-a .ct-bar {
  stroke: green;
}

#overstate-lisa .ct-series-a .ct-bar {
  stroke: green;
}

#overstate-lisa .ct-series-b .ct-bar {
  stroke: blue;
}

#overstate-lisa .ct-series-c .ct-bar {
  stroke: green;
}

#overstate-lisa .ct-series-d .ct-bar {
  stroke: orange;
}

#understate-lisa .ct-series-a .ct-bar {
  stroke: green;
}

#understate-lisa .ct-series-b .ct-bar {
  stroke: yellow;
}

#understate-lisa .ct-series-c .ct-bar {
  stroke: orange;
}

#understate-lisa .ct-series-d .ct-bar {
  stroke: yellow;
}

#understate-lisa .ct-series-e .ct-bar {
  stroke: yellow;
}

#understate-lisa .ct-series-f .ct-bar {
  stroke: red;
}

#overstate-mechalynx .ct-series-a .ct-bar {
  stroke: green;
}

#overstate-mechalynx .ct-series-b .ct-bar {
  stroke: blue;
}

#overstate-mechalynx .ct-series-c .ct-bar {
  stroke: orange;
}

#overstate-mechalynx .ct-series-d .ct-bar {
  stroke: yellow;
}

#understate-mechalynx .ct-series-a .ct-bar {
  stroke: green;
}

#understate-mechalynx .ct-series-b .ct-bar {
  stroke: #33dd99;
}

#understate-mechalynx .ct-series-c .ct-bar {
  stroke: #33aaaa;
}

#understate-mechalynx .ct-series-d .ct-bar {
  stroke: black;
}

#understate-mechalynx .ct-series-e .ct-bar {
  stroke: orange;
}

#understate-mechalynx .ct-series-f .ct-bar {
  stroke: #995577;
}

#overstate-antoine .ct-series-a .ct-bar {
  stroke: green;
}

#overstate-antoine .ct-series-b .ct-bar {
  stroke: grey;
}

#overstate-antoine .ct-series-c .ct-bar {
  stroke: yellow;
}

#overstate-antoine .ct-series-d .ct-bar {
  stroke: orange;
}

#overstate-antoine .ct-series-e .ct-bar {
  stroke: yellow;
}

#overstate-antoine .ct-series-f .ct-bar {
  stroke: red;
}

#overstate-antoine .ct-series-g .ct-bar {
  stroke: crimson;
}

#understate-antoine .ct-series-a .ct-bar {
  stroke: green;
}

#understate-antoine .ct-series-b .ct-bar {
  stroke: yellow;
}

#understate-antoine .ct-series-c .ct-bar {
  stroke: green;
}

#understate-antoine .ct-series-d .ct-bar {
  stroke: orange;
}

#understate-antoine .ct-series-e .ct-bar {
  stroke: brown;
}

#understate-antoine .ct-series-f .ct-bar {
  stroke: red;
}

#understate-antoine .ct-series-g .ct-bar {
  stroke: crimson;
}

@media (min-width: 1281px) {
  .ct-chart-line .ct-label.ct-horizontal.ct-end {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transform: rotate(-75deg);
    transform-origin: 100% 0;
    text-align: right;
    max-height: 1.5em;
    min-width: 100px;
    max-width: 100px;
  }
}

.state-bar {
  height: 24px;
  display: block;
}

.avatar {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
  clear: both;
  position: absolute;
  float: left;
  top: 100%;
  margin-left: 8px;
}


#discordlogModal .modal-body,
#ytlogModal .modal-body,
#explanationModal .modal-body {
  height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-body .fa-spinner {
  top: 30%;
  position: relative;
}

.modal-body .loading {
  width: 100%;
  overflow: hidden;
  text-align: center;
  height: 100%;
  font-size: 5vw;
}

@media(max-width: 992px) {
  .modal-body .loading {
    font-size: 7vw;
  }
}

#ytlogModal .logtable col:nth-child(1) {
  width: 66%;
}

#ytlogModal .logtable col:nth-child(2) {
  width: 34%;
}

@media (max-width: 992px) {

  .logtable tr td code:only-child {
    display: block;
    font-size: 12px;
  }

  #ytlogModal .logtable col:nth-child(1) {
    width: 100%;
  }
  #ytlogModal .logtable col:nth-child(2) {
    width: 0;
  }

  #discordlogModal .logtable col:nth-child(1) {
    width: 48px;
  }
  #discordlogModal .logtable col:nth-child(2) {
    width: 100%;
  }
  #discordlogModal .logtable col:nth-child(3) {
    display: none;
    width: 0;
  }
  #discordlogModal .logtable col:nth-child(4) {
    display: none;
    width: 0;
  }
}

.timestamp-discord.mobile-discord {
  vertical-align: top;
}

@media(min-width: 993px) {

#discordlogModal .logtable td:nth-child(2) {
  width: 7em;
}
  #discordlogModal tr td:first-child {
    width: 48px;
    vertical-align: top;
  }

  #discordlogModal td td:nth-child(2) {
    vertical-align: top;
  }

  #discordlogModal td td:nth-child(3) p {
    vertical-align: top;
  }

  .message-discord {
    vertical-align: top;
  }

  .message-discord p,
  .comment-discord p {
    display: inline;
  }

  .comment-discord p {
    font-size: 12px;
  }

  .author-discord {
    vertical-align: top;
  }
  .author-discord {
    padding: 0;
  }
}

.comment-youtube.mobile-youtube {
  display: block;
}

.comment-youtube p {
  margin-bottom: 0;
}

.logtable tr {
  white-space: break-word;
}

.logtable {
  table-layout: fixed;
}

#overlay {
  background-color: rgba(33, 33, 33, 0.5);
  width: 20vw;
  height: 94%;
  display: block;
  position: absolute;
  bottom: 4.2%;
  z-index: 1;
}

.ct-chart {
  position: relative;
}

#overlay:hover {
  background-color: rgba(55, 55, 55, 0.3);
  cursor: pointer;
}

.spacer {
  margin-top: 64px;
  margin-bottom: 64px;
  width: 100%;
  display: block;
}

.state {
  position: relative;
  margin-bottom: 16px;
  z-index: -1;
}

.avatar img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: initial;
}

#lisa_r-avatar {
  border-color: #b8181b;
}

#antoine-avatar {
  border-color: #3b6c23;
}

#mechalynx-avatar {
  border-color: #2a2f51;
}

#in-between {
  margin: 8px;
}

.btn {
  white-space: normal !important;
  word-wrap: break-word !important;
  word-break: normal !important;
}

.row {
  margin-top: 16px;
}

.logtable {
  font-size: smaller;
  width: 100%;
}

.modal-body {
  padding: 8px;
}


.fa-discord {
  width: 20px;
  height: auto;
  background: url('/img/discord.svg');
  filter: invert(100%);
}

#explanationModal {
  font-family: "Fira Sans", sans-serif;
}

body {
  font-family: "Fira Sans", sans-serif;
}

.comment-discord,
.comment-youtube {
  font-family: "Roboto Mono", monospace;
}

.message-discord,
.timestamp-discord,
.channel-discord,
.author-discord {
  font-family: "Open Sans", sans-serif;
}

.message-youtube,
.timestamp-youtube,
.channel-youtube,
.author-youtube {
  font-family: "Roboto", sans-serif;
}

.comment-discord,
.comment-youtube {
  background-color: #7a7a7a;
}

.comment-discord.mobile-discord,
.comment-youtube.mobile-youtube {
  font-size: smaller;
}

.author-youtube,
.author-discord {
  font-weight: bold;
}

.author-youtube {
  font-size: smaller;
}

.message-youtube p {
  display: inline;
  font-size: 12px;
}

.comment-youtube p {
  display: inline;
  font-size: 12px;
}

.timestamp-youtube,
.author-youtube,
.message-youtube {
  margin-right: 8px;
}

.message-youtube {
  word-wrap: break-word;
}

.timestap-youtube,
.author-youtube {
  white-space: nowrap;
}

.timestamp-discord.mobile-discord,
.timestamp-youtube.mobile-youtube {
  padding-top: 4px;
}

.timestamp-discord.mobile-youtube {
  vertical-align: top;
}

.mobile-discord p {
  margin: 0 !important;
}

.channel-discord,
.timestamp-discord {
  width: 20px;
}


.timestamp-youtube {
  width: 48px;
}

#ytlogModal .logtable tr td:nth-child(2) {
  width: 25%;
}

.timestamp-discord,
.channel-discord,
.timestamp-youtube {
  font-size: x-small;
  opacity: 0.7;
}

.channel-change {
  border-top: 1px solid #333;
}

.emphasis {
  background-color: tan;
}

.emphasis-start {
  border-top: 2px solid white;
}

.emphasis-end {
  border-bottom: 2px solid white;
}

.highlight-counter {
  display: inline;
}


/* fix long links */

p {
  overflow: hidden;
}

.modal-footer .row {
  margin: 0;
  padding: 0;
}

.modal-footer .col {
  padding-left: 0;
  padding-right: 0;
}

.modal-footer .container {
  margin: 0;
  padding: 0;
}

.modal-footer p {
  margin: 0;
  padding: 0;
  font-size: small;
  display: inline;
}

.message-discord code {
  white-space: pre-line;
  display: block;
  width: 100%;
  background-color: #332910;
}

#ytlogModal .modal-footer,
#discordlogModal .modal-footer,
#ytlogModal .modal-header,
#discordlogModal .modal-header {
  padding-top: 8px;
  padding-bottom: 8px;
}
